.section-products{
    font-family: "Cormorant Garamond", serif !important;
    font-weight: bolder !important;
    font-style: normal !important;
}
.title_heading{
    font-size: 36px !important;
}
.title-tab li{
    width: 110px !important;
    height: 42px !important;
    padding: 0px 5px 10px !important;
    font-size: 16px !important;
    margin-right: 15px;
    text-align: center;
}
.title-tab li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 12px !important;
    font-weight: 900 !important;
    padding: 0px 15px;
    border: 1px solid #5ba616;
    color: #5ba616;
 }
 .title-tab .active{
    background-color: #5ba616;
    color: white;
    transition: background-color 0.5s ease-in-out ;
 }