.footer{
    padding: 0px 5% !important;
    background-color : #f2f2f2
}
.top-footer{
    width: 100%;
    padding: 52px 0px !important;
}
.container-foot{
    width: 100% !important;
}
.title_border{
    position: relative;
}
.title_border::before{
    content: '';
    display: block;
    height: 1px; 
    width: 55px;
    background: #000000;
    position: absolute; 
    left: 0%; 
    bottom: -5px;
}
.title_footer {
    margin: 0 0 14px;
    padding: 0 0 12px;
}
.title_footer h4{
    font-size: 21px !important;
    font-weight: 800;
}
.list-unstyled li{
    line-height: 30px;
}
.list-unstyled li a i{
    margin-right: 10px;
}
.list-unstyled li a{
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
.list-unstyled li a:hover{
    color: #5ba616;
}
.mb-0.content_footer{
    font-size: 16px !important;
    margin: 0 0 25px !important;
}
.text-input{
    background-color: #fff !important;
    padding: 10px 12.8px !important;
    outline: none;
    border: none;
}
.subbtn{
    background-color: #000 !important;
    color: #fff !important;
    font-size: 12px !important;
    padding: 12.8px 20px !important;
    border: none;
}
.subbtn:hover{
    background-color: #5ba616 !important;
    transition: background-color 0.5s ease-in-out !important;
}
.list-inline-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    transition: border 0.5s ease-in-out;
}
.social-media{
    width: max-content;
    text-align: center;
    padding: 5px 8px;
}
.social-media i{
    text-align: center !important;
    margin: 0 !important;
    transition: color 0.5s ease-in-out;
}

.list-inline-item:hover{
    border: 2px solid #5ba616;
    .social-media i{
        color: #5ba616;
    }
}
.copy-rights{
    padding: 25px 0px;
}
.text-copyright p{
    font-size: 14px !important;
    color: #6C6C6C;
}
.text-copyright p a{
    text-decoration: none;
}
.Engo{
    color: #6C6C6C;
}
.Powered{
    color: #5ba616;
}