.bg-breadcrumb{
    background-image: url('../assets/bg-slideshowv4-1.webp');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 140px 0px;
    height: 100%;
    .title-page{
        h2{
            margin: 0;
            padding:  0 0 8px;
            font-size: 40px !important;
        }
    }
}
.wrap-bread-crumb{
    height: 90vh;
}
.bi-chevron-right{
    font-size: 13px !important;
    padding: 0 5px;
}
.bread-crumb{
    padding: 0 0 40px;
}

.product-slider-container {
    width: 100%;
    margin: auto;
    padding: 20px 0;
  }
  .slick-slider{
    width: 50% !important;
  }
  .slick-track{
    width: 50%;
  }
  .slick-slide{
    width: 141px !important;
  }
  .slider-item {
    width: 141px;
    padding: 10px;
    text-align: center; 
    display: inline-block;
    overflow: hidden !important;
  }
  .slider-item:hover .img_banner img{
    border:2px solid #5ba616 ;
  }
  .img_banner{
    box-sizing: border-box !important;
    border-radius: 50% !important;
  }
  .img_banner img {
    width: 100%;
    border-radius: 50% !important;
    border: none;
    height: auto;
    border-radius: 10px;
  }
  
  .banner_title a {
    text-decoration: none;
    color: #333;
    margin-top: 5px;
    display: block;
  }
  

  @media (max-width:768px){
    .slick-slider{
        width: 80% !important;
      }
      .bg-breadcrumb{
        padding-top: 100px;
        padding-bottom: 0;
        height: 100%;
    }
    .list_col{
        height: 250px !important;
    }
    .slick-dots{
        bottom: 20px !important;
    }
}

@media (max-width:426px){
    .slick-slider{
        width: 80% !important;
      }
}